section.presentation
    .wrapper
        h2.page__title-h2 Presentation Book
        p.page__text Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua francal On refusa continuar payar custosi traductores.
        a.page__btn(href="assets/img/img-book-mockup.png" download) Download pdf
        img.page__img(src="assets/img/img-book-mockup.png")